@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');

*{
    scroll-behavior: smooth;
}

body{
    font-family:"Roboto" !important;
    background: #f7f2ee;
    max-width: 1280px;
    margin: 0 auto;
    overflow-x: hidden;
}

/*______________________________________________________________HEADER____*/

header{
    display: flex;
    justify-content: space-between;
    padding: 0px 50px;
    height: 40px;
    align-items: end;
}

header nav{
    display: flex;   
    gap: 36px;
}

header h2{
    align-self: center;
    font-size: 21px;
    font-weight: 900;
}

header a{
    text-decoration: none;
    color: black;
}

header a:hover{
    color: #e9672b;
}

/*______________________________________________________________MAIN____*/

.about-site{
    padding: 84px 96px 125px;
    display: flex;
    gap: 52px;
    justify-content: space-between;
    align-items: center;
}

.about-site img{
    width: 513px;
    height: 457px;
    object-fit: cover;
    object-position: center;
}

h1{
    font-size: 64px;
    line-height: 74px;
}

p{
    font-size: 18px;
    line-height: 28px;
}

.about-site p{
    margin: 18px 0px 46px;
}

button{
    all: unset;
    font-size: 18px;
    border-radius: 88px;
    padding: 16px 32px;
    border: 2px solid #e9672b;
    background: #e9672b;
}
button:hover{
    background: white;
    cursor: pointer;
    transition: 1s;
}

/*______________________________________Shop-by-room_____*/

.shop-by-room{
    padding: 0px 92px;
    padding-bottom: 83px;
}

.shop-by-room h2{
    font-size: 48px;
    line-height: 54px;
    text-align: center;
    margin-bottom: 43px;
}

.shop-by-room__cards{
    display: flex;
    justify-content: space-between;
    gap: 36px;
}

.shop-by-room__cards img{
    width: 100%; /*изображения подстраиваются под ширину экрана (уменьшаются)*/
}


.shop-by-room__cards figcaption{
    text-align: center;
    padding: 15px 0px 19px;
    background: white;
}


.shop-by-room__cards figure{
    border: 2px solid var(--b-color);
    box-shadow: 8px 8px var(--s-color);
    border-radius: 4px;
}

/*______________________________________Shop our bestsellers_____*/

.shop-our-bestsellers{
    padding: 0px 168px;
    
}


.shop-our-bestsellers h2{
    font-size: 36px;
    line-height: 44px;
    text-align: center;
    margin-bottom: 57px;
}

.shop-our-bestsellers__cards{
    display: flex;
    gap: 4px;
    justify-content: space-between;  
    text-align: center;
   
}

.shop-our-bestsellers__cards img{
    width: 100%;
    padding:40px 32px 31px;
    object-fit: cover;
    box-sizing: border-box;
    
}

.shop-our-bestsellers__cards figure{
    background: white;
    width: 100%;
}

.shop-our-bestsellers__cards figcaption{
    padding-bottom: 69px;
}

/*______________________________________Full width_____*/

.floyd-furniture{
    display: flex;
    margin-top: 215px;
}

.floyd-furniture__image img{ /*чтобы div не уменьшался*/
    height: 343px;
    width: 100%;
    object-fit: cover;
    object-position: left;
}

.floyd-furniture-info{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    min-width: 448px;
    background-color: #e9672b;
    color: white;
}

.floyd-furniture-info button{
    background: white;
    color: black;
}

.floyd-furniture-info button:hover{
    background-color: #AF4920;
    color: #f7f2ee;
}

.floyd-furniture-info h3{
    font-weight: 900;
}

.floyd-furniture-info h2{
    font-size: 36px;
    line-height: 44px;
    text-align: center;
    margin: 24px 0 42px ;
}

/*______________________________________comments cards____*/
.reviews{
    padding: 130px 96px;
}

.reviews h2{
    font-size: 48px;
    text-align: center;
    line-height: 54px;
    margin-bottom: 57px;
}

.reviews-blocks{
    display: flex;
    gap: 32px;
    position: relative;
    transition: 0.5s;
}


.reviews-card{
    width: 396px;
    min-width: 396px;
    height: 254px;
    background: white;
    padding: 34px;
    box-sizing: border-box;

    --b-color: black;
    --s-color: black;

    border: 2px solid var(--b-color);
    box-shadow: 8px -8px var(--s-color);
    border-radius: 4px;
}

.reviews-card h3{
    font-size: 18px;
    line-height: 28px;
    margin-bottom: 30px;
}

.stars{
    display: flex;
    margin-bottom: 26px;
}

.reviews-arrows button img{
    width: 30px;
    height: 30px;
}

.reviews-arrows button{
    width: 50px;
    height: 50px;
    box-sizing: border-box;
    display: flex;
    align-items: center;
    justify-content: center;
    border: 1px solid black;
    background: #F3F0EC;
}

.reviews-arrows button:hover{
    transform: scale(1.2);
}
.reviews-arrows{
    display: flex;
    justify-content: space-between;
    margin-top: 30px;
}

.shop-furniture{
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;

}

.shop-furniture-block{
    display: flex;
    flex-direction: column;
    text-align: center;
    width: 268px;
    align-items: center;
}

.btn-shop{
    box-sizing: border-box;
    width: 202px;
    margin-top: 39px;
    margin-bottom: 80px;
    padding: 16px 40px;

}

.shop-furniture-figure figcaption p{
    margin-top: 41px;
}








/*______________________________________________________________FOOTER____*/

footer{
    padding: 82px 80px 208px;
    background-color: #F3F0EC;
    display: flex;
    gap: 80px;
    border-top: 2px solid #CDD454;
    position: relative;
    flex-wrap: wrap;
}

.footer-links{
    display: flex;
    flex-direction: column;
    gap: 8px;
}

.footer-links h3, .footer-social h3{
    font-size: 16px;
    line-height: 24px;
    margin-bottom: 16px;
    text-transform: uppercase;
    letter-spacing: 1.28px;
}

.footer-links a{
    text-decoration: none;
    line-height: 24px;
    color: black;
}

.footer-links a:hover {
    color: #e9672b;
    cursor: pointer;
}


.footer-social-link{
    display: flex;
    gap: 16px;
    padding-bottom: 54px;
}

.footer-social-link a{
    border: 2px solid black;
    width: 48px;
    height: 48px;
    border-radius: 50%;
    display: flex  ;
    align-items: center;
    justify-content: center;
    box-sizing: border-box;
}

.footer-social-link a:hover{
    background-color: #e9672b;
    border: none;
}

.footer-social-link a:hover img{
    filter: invert(1);
}

.footer-social-line{
    width: 298px;
    border: 1px solid black;
    box-sizing: border-box;
    margin-top: 60px;
}

.footer-img{
    position: absolute;
    right: 80px;
    bottom: 80px;
}

/*______________________________________________________________________________________________________adaptation*/

@media screen and (max-width: 1224px) {
    h1{
        font-size: 48px;
        line-height: 54px;
    }
    
}

@media screen and (max-width: 992px){
    .about-site img{
        width: 350px;
        object-position: left;
    }

    header{
        flex-direction: column;
        align-items: center;
        height: unset;
        padding-top: 20px;
        gap: 10px;
    }

    header h2{
        order: -1;
    }

    .shop-by-room__cards{
        flex-wrap: wrap;
        justify-content: center;
    }

    .shop-our-bestsellers__cards{
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        gap: 20px;
    }
}

@media screen and (max-width: 768px){
    .about-site img{
        display: none;
    }

    .about-site{
        text-align: center;
    }

    .floyd-furniture{
        display: grid;
    }

    .floyd-furniture-info{
        order: -1;
        padding: 50px;
        box-sizing: border-box;
    }
}

@media screen and (max-width: 717px){
    .shop-our-bestsellers__cards img{   
        padding:10px 12px 11px;
    }

}

@media screen and (max-width: 670px) {
    .shop-our-bestsellers__cards{
        display: grid;
        grid-template-columns: repeat(1, 1fr);
        gap: 10px;
    }

    .shop-our-bestsellers h2{
        font-size: 28px;
        line-height: 32px;
    }

    .shop-our-bestsellers__cards img{
        
        padding:20px 32px 31px;
    }

    .shop-our-bestsellers__cards figcaption{
        padding-bottom: 39px;
    }

    
}

@media screen and (max-width: 605px) {
    .shop-our-bestsellers{
        padding: 0px 108px;
    }

}


@media screen and (max-width: 480px) {
    header{
        padding: 0px 24px;
    }

    header nav{
        gap: 0px;
        width: 100%;
        justify-content: space-around;
    }

    .about-site{
        padding: 84px 24px 125px;
    }

    .footer{
        padding: 82px 24px 208px;
    }

    .footer-social-link{
        display: grid;
        grid-template-columns: repeat(3, 1fr);
    }
}